.menu-width{
    width: 25%;
    background-color: #f5f7fb;
    border-radius: 5px;
    margin: 5px;
    padding-top: 40px;
}
.menu-content{
    
    width: 96%;
    height: 55px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.menu-para{
    padding-top: 15px;
    font-family: monospace;
    font-weight: bold;
}
.menu-content:hover{
    background-color: rgb(213, 214, 214);
}
@media(max-width:500px){
    .menu-width{
        width: 100%;
        background-color: #f5f7fb;
        border-radius: 5px;
        margin: 5px;
        padding-top: 40px;
    }
    .menu-content{
        
        width: 96%;
        height: 55px;
        text-align: center;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }
    .menu-para{
        padding-top: 15px;
        font-family: monospace;
        font-weight: bold;
    }
    .menu-content:hover{
        background-color: rgb(213, 214, 214);
    }
}